os: linux
language: java
install: echo "skip './gradlew assemble' step"
dist: trusty
jdk: oraclejdk8
sudo: required

branches:
  only:
    - main

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
  - pyenv install 3.6.0
  - pip install requests
  - pip install codecov 
  - pip install coverage

script: 
  - chmod 777 ./scripts/run.sh
  - scripts/run.sh

env:
  global:
    - CODECOV_TOKEN=7f31adf9-c934-440e-9260-f1df316eb687

after_success:
  - codecov 
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email: false