<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbe.ms.mapper.ReadWriteTestMapper">
    <resultMap id="BaseResultMap" type="com.sbe.ms.dto.ReadWriteTestDTO">
        <id column="id" jdbcType="INTEGER" property="id" javaType="java.lang.Long"/>
        <id column="content" jdbcType="VARCHAR" property="content" javaType="java.lang.String"/>
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">select * from t_readwritetest</select>

    <insert id="saveDto" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.sbe.ms.dto.ReadWriteTestDTO">
        insert into t_readwritetest(id,content) value(#{id}, #{content});
    </insert>
</mapper>